.secciones {
    text-align: center;

    img {
        max-width: 400px;
        max-height: 250px;
    }

    p {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin: 2rem;
    }

    .mediosDePago {
        text-align: center;

    }
}