* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background: rgb(251, 63, 120);
    background: radial-gradient(circle, rgba(251, 63, 120, 0.5914740896358543) 0%, rgba(252, 70, 107, 0.9164040616246498) 100%);
}